        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        i {
            font-style: italic;
            color: black;
            font-size: 20px;
        }

        .container {
            display: grid;
            grid-template-columns: 25% 75%;
            min-height: 100vh;
        }

        .menu {
            background-color: #75a7e0;
            color: white;
            padding: 40px;
        }

        .menu h2 {
            margin-top: 0;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .menu ul {
            list-style: none;
            padding: 0;
        }

        .menu li {
            margin-bottom: 15px;
            font-size: 18px;
            cursor: pointer;
        }

        .menu li:hover {
            font-size: 20px;
        }

        .content {
            background-color: #fbfbfb;
            color: #333;
            padding: 40px;
        }

        .content h1 {
            margin-top: 0;
        }

        @media screen and (max-width: 600px) {
            .container {
                grid-template-columns: 100%;
            }
            
            .menu {
                padding: 20px;
            }
        }
